*{
    box-sizing: border-box;

}
body{
    border: 0;
    margin: 0;
    max-width:1600px;
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Mulish";
    position: relative;
}
html{
    height: 100%;
    

}
.logo{
    margin-left: 8%;
    
}
nav{
    margin: 2%;
    display: flex;
    align-items: center;
}
nav .navigation{
    justify-content: space-between;
    text-decoration: none;
    font-size: 18px;
    margin-right: 30px;
    color: #7D7987;
    font-weight: 400;      
}
nav .navigation:hover{
    color: black;
    transition: .3s ease;
    position: relative;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
nav .navigation:hover::after{
    content: " ";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: black;
}
.hometag{
    margin-left: 512px;
    color: black;
}
.responsive-nav{
   display: none;
    margin-left: 65%;
}
.responsive-nav .menu{
    background-color: black;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
    margin-top: 0;
    z-index: 1;
}
.responsive-nav .menu.active{
    right: 0;
}
.responsive-nav nav{
    position: relative;
    margin-left: auto;
    padding: 0.5rem;
    display: flex;
    background-color: white;
}
.menu a{
    text-decoration: none;
    font-size: 18px;
    color: #7D7987;
}
.hamburger{
    height: 40px;
    width: 40px;
    margin-left: auto;
    position: relative;
}
.hamburger span{
    height: 5px;
    width: 100%;
    background-color: #008cff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
    z-index: 1;
}
.hamburger span:nth-child(1){
    top: 25%;
}
.hamburger span:nth-child(3){
    top: 75%;
}
.hamburger.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.hamburger.active span:nth-child(2){
    opacity: 0;
}
.hamburger.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media screen and (max-width:1350px) {
    .navigation{
        margin-top: 20px;
    }
    .hometag{
        margin-left: 30%;
    }
    .logo{
        margin-top:20px ;
    }
}
@media screen and (max-width:1200px){
    .hometag{
        margin-left: 22%;
    }  
}
@media screen and (max-width:1018px){
    .hometag{
        margin-left: 10%;
    }  
}
@media screen and (max-width:887px) {
    .navigation{
        display: none;
    }
    .logo{
        margin-top:30px ;
    }
    .responsive-nav{
        display: flex;
    }
    
}
@media screen and (max-width:789px) {
    .responsive-nav{
        margin-left: 60%;
    }
    
}
@media screen and (max-width:670px) {
    .responsive-nav{
        margin-left: 55%;
    }
    
}
@media screen and (max-width:600px) {
    .responsive-nav{
        margin-left: 45%;
    }
    
}

/*--------FIRST SECTION--------*/
.firstsection-wrapper{
    display: flex;
}
.firstsection-wrapper img{
    margin-top: 2%;
    width: 693px;
    height: 598px;
}
.firstsection{
    margin-top: 114px;
    margin-left: 9%;
    margin-right: 10%;
    align-items: left;
    width: 445px;
    height: 333px;
}
.firstsection h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}
.firstsection p{
    font-size: 21px;
    font-weight: 300;
    color: #7D7987;
    line-height: 30px;
}
.firstsection button{
    color: white;
    border-radius: 50px;
    width: 50%;
    padding: 18px;
    font-size: 18px;
   background-color: #458FF6;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.firstsection button::after{
    content:attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #008cff, #e100ff);
    border-radius: 50px;
    display: grid;
    align-items: center;
    transform: translateX(-100%);
    transition: transform .25s;
}
.firstsection button:hover::after{
    transform: none;
}
.firstsection button span{
    display: inline-block;
    transition: transform .015s;
}
.firstsection button:hover span{
    transform: translateX(160%);
}
@media screen and (max-width:1295px){
    .firstsection-wrapper img{
        width: 50%;
        height: 50%;
    } 
    
}
@media screen and (max-width:1192px){
    .firstsection-wrapper {
        display: flex;
    }
    .firstsection-wrapper img{
        margin-top: 3%;
        width: 50%;
        height: 50%;
    } 
}
@media screen and (max-width:1064px){
    .firstsection-wrapper img{
        margin-top: 10%;
        width: 50%;
        height: 50%;
    }

    
}
@media screen and (max-width:912px){
    .firstsection button{
        width: 60%;
    }

}
@media screen and (max-width:800px){
    .firstsection-wrapper {
        display: block;

    }
    .firstsection-wrapper img{
        margin: 15%;
        width: 75%;
        height: 75%;   
    }
    
}

/*--------SECOND SECTION-----------*/
.secondsection {
   justify-items: center;
   background-image: url(Images/Frame\ \(6\).png);
   background-repeat: no-repeat;
   background-position: left center;
    
}
.secondsection h1{
    margin-top: 20%;
   text-align: center; 
   line-height: 56px;
}
.secondsection hr{
    width: 56px;
   height: 2px;
   padding: 1px;
    background-color: black;
}
.secondsection p{
    line-height: 30px;
    font-weight: 300px;
    color: #7D7987;
    font-size: 18px;
   margin-left: 17%;
   margin-right:17%;
   text-align: center;

}





